    <!-- Header -->
    <div class="intro-header">
        <div class="intro-message">
            <h1>Dig-A-Pic</h1>
            <h3>Upload and License Your Photos on the Web</h3>
            <br>
            <ul class="list-inline intro-social-buttons">
                <li>
                    <a href="<%= login_path %>"class="btn btn-default btn-lg">Login</a>
                </li>
                <br>
                <li>
                    <h3>Don't have an account?  <a href="<%= signup_path %>" class="btn btn-default">Sign Up!</a></h3>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About the Artists</h2>
                    <p class="lead">Dig-A-Pic caters to high quality Photographers worldwide! We proudly represent some of the finest photography available for personal or commercial use. Artists are able to easily sell licensing rights to their photos with a few simple steps!</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/JaimieAlexander-Actor-Beauty1.jpg" alt="">
                </div>
            </div>
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The Perks of Buying</h2>
                    <p class="lead">Getting high quality photos for your site just got easier! Browse photos by category and easily view photo specs. Click purchase and you're on your way!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/Paris-Photos-At-The-Helm-Laria-Saunders.jpg" alt="">
                </div>
            </div>
    </div>

    </div>
    <!-- /.content-section-a -->

    <div class="banner content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Join Us!</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/ikitha/Project_2" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <!-- <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul> -->
                    <p class="copyright text-muted small">Copyright &copy; Project 2 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
